{% extends "work/main.html" %}
{% block Title %}ABOUT{% endblock Title %}
{% load static %}
{% block content %}
<body class="b1">
   <h1 class="b4">About</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sunt, volu
        ptatum minus doloremque velit illum minima quod veniam modi veritatis rer
        um laborum nihil saepe ducimus at? Vel at magni quia.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sunt, volu
        ptatum minus doloremque velit illum minima quod veniam modi veritatis rer
        um laborum nihil saepe ducimus at? Vel at magni quia.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sunt, volu
        ptatum minus doloremque velit illum minima quod veniam modi veritatis rer
        um laborum nihil saepe ducimus at? Vel at magni quia.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse sunt, volu
        ptatum minus doloremque velit illum minima quod veniam modi veritatis rer
        um laborum nihil saepe ducimus at? Vel at magni quia.
    </p>
{% endblock content %}