{% extends "work/main.html" %}
{% block Title  %}blog{% endblock Title %}
{% load static %}
{% block content %}
 
    <div class="container">
        <div>
            <h1>pictures</h1>
            <img src=" {% static 'images/depresion2.jpeg' %}" height="300" width="600">
       <br>
           <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque cor
               rupti quos expedita assumenda atque neque recusandae maxime fugiat vi
               tae, at saepe voluptatibus magnam ratione tenetur ullam aliquam cumqu
               e molestias soluta.
           </p>
           <h1>anime</h1>
           <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque cor
               rupti quos expedita assumenda atque neque recusandae maxime fugiat vi
               tae, at saepe voluptatibus magnam ratione tenetur ullam aliquam cumqu
               e molestias soluta.
           </p>
           <h1>action</h1>
           <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque cor
               rupti quos expedita assumenda atque neque recusandae maxime fugiat vi
               tae, at saepe voluptatibus magnam ratione tenetur ullam aliquam cumqu
               e molestias soluta.
           </p>
        </div>
    </div>
{% endblock content %}