{% extends "work/main.html" %}
{% load static  %}
{% block Title  %}
CONTACT
{% endblock Title  %}
{% block content %}
    <h1 class="new">CONTACT</h1>
    <p class="j">
        <img src=" {% static 'images/kodak2.jpeg' %}" height="400" width="600">
        <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. I
        n dignissimos labore odio esse cumque tenetur dolorem at dol
        orum asperiores accusantium saepe quas perferendis non vita
        e a iste, distinctio corporis ea?
    </p>
</body>
{% endblock content %}